:root{
  --base_font_color: #ddac00;
  --base_bg_color : black;
}

*{
  font-family: 'Comic Neue', cursive  !important;
  font-size: 22px;
}

body{
  background-color: var(--base_bg_color);
  color: var(--base_font_color);
}

.nav-custom{
  background-color: var(--base_bg_color);
}

.close-custom{
  color: var(--base_font_color);
}

.logo-custom{
  padding: 0px;
  margin: 0px;
  width: 300px;
  align-content: center;
}

.img-custom{
  width:150px;
}

.pokemon-list .btn{
  margin: 10px;
}

.modal-custom{
  background-color: var(--base_bg_color);;
}
