*{
  font-family: 'Comic Neue', cursive  !important;
  font-size: 22px;
}

body{
  background-color: black;
  color: #ddac00;
}

.nav-custom{
  background-color: black !important;
}

.close-custom{
  color: #ddac00 !important;
}

.logo-custom{
  padding: 0px;
  margin: 0px;
  width: 300px;
  align-content: center;
}

.img-custom{
  width:150px;
}

.pokemon-list .btn{
  margin: 10px;
}

.modal-custom{
  background-color: black;
}
